@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>**** Hola Mundo****</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
</div>
<div class="text-sm-left">
    <ul style="list-style: none;">
        <li>hola1</li>
        <li>hola2</li>
        <li>hola3</li>
    </ul>
</div>
